@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sora&display=swap');

/* Global styles */
html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    font-family: 'Sora', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right bottom, #fcec1a, #c3f752, #8cfb84, #52fbb3, #00f8db, #00eeed, #00e3fa, #00d7ff, #33c3ff, #92a5ff, #d87de8, #ff4fa3);
    background-attachment: fixed;
    background-color: #af95f6;
}

/* Headings */
h1, h2 {
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 1.4rem;
}

/* Header */
header {
    font-size: 1.2rem;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}



/* Buttons */
.button {
    background-color: black;
    color: snow;
    font-family: 'Sora', sans-serif;
    margin: 1%;
    font-size: 1.2rem;
}

/* allows hover effect on devices that support it */
@media (hover: hover) {
    .button:hover {
        cursor: pointer;
        color: black;
        background-color: snow;
        transition-duration: 0.6s;
    }
}

/* stops hover effect on touch devices, prevents giving user incorrect feedback. */
@media (hover: none) {
    .button:hover {
        background-color: black;
        color: snow; }
}


/* Game introduction area */
/* Icon area */
.game-intro {
    width: 90%;
    margin: auto;
}

.icon-area {
    background-color: snow;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}


.icon {
    width: 20%;
/* Creates animation for rock paper scissors icons upon loading the home page */
    animation-name: icon-zoom;
animation-duration: 2s;
animation-fill-mode: forwards;
}

/* creates level of zoom for icon image */

@keyframes icon-zoom {
    from{
        transform: scale(0.5);
    }
    to {
        transform: scale(1.0);
    }
}

#rock-img, #paper-img, #scissors-img {
    width: 100%;
}

/*Player setup area */
.player-setup {
    padding: 4%;
}

/* styling for modal popups */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
  /* popup modal */
  .modal-content {
      text-align: left;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 4% 2%;
    border: 2px solid black;
    width: 60%;
  }

  .rules-content ol>li {
    padding: 2% 0;
}
  
  .close {
    color: red;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* close button on popup */
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.choices {
    width: 100%;
    padding: 0;
    margin: auto;
}

.play-area {
    background-color: snow;
    border: 2px solid black;
    padding: 2% 0;
}
.result-area {
    display: flex;
    justify-content: space-evenly;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
}

.play-icon {
    width: 100%;
}

#result-area {
    margin: auto 0;
}

.result-modal {
    text-align: center;
}

#sound-button {
    color: black;
    font-size: 1.2rem;
    border: none;
    background: transparent;
}

/* Media queries */

/*For larger screen sizes from 1400px wide and down */

@media screen and (max-width: 1400px) {
    h1 {
        margin: 3% 0;
    }

   .play-area, .scoreboard {
        margin: 6% 0;
    }
 }   

 /*For larger screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {

    .play-area, .scoreboard {
        margin: 10% 0;
    }
 }   

/*For medium screen sizes from 839px wide and down */

@media screen and (max-width: 839px) {
   .modal-content {
       width: 80%;
       margin: 20% auto;
   }

   .button {
    margin: 2%;
   }
}   

/* For medium screen sizes 700px wide and down */

@media screen and (max-width: 700px) {
    .modal-content {
        width: 90%;
        margin: 30% auto;
    }
 }   

 /* For medium screen to small sizes 500px wide and down */

@media screen and (max-width: 500px) {
    .modal-content {
        width: 90%;
        margin: 40% auto;
    }

    h1 {
        margin: 10% 0;
    }

    .play-area, .scoreboard {
        margin: 20% 0;
    }
 }   

 /* For medium screen to small sizes 478px wide and down */

@media screen and (max-width: 478px) {
    #playername-input {
        margin: 4% 0;
    }
}

 /* For smaller screen sizes and mobile devices 413px wide and down */

 @media screen and (max-width: 413px) {
     .modal-content {
         width: 95%;
         margin: 60% auto;
     }
}