@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sora&display=swap');

/* Global styles */
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Sora', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right bottom, #fcec1a, #c3f752, #8cfb84, #52fbb3, #00f8db, #00eeed, #00e3fa, #00d7ff, #33c3ff, #92a5ff, #d87de8, #ff4fa3);
    background-attachment: fixed;
}

/* Headings */
h1, h2 {
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 2.6rem;
    letter-spacing: 1.4rem;
}

/* Footer */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Game introduction area */
.game-intro {
    width: 90%;
    margin: auto;
}

.icon-area {
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;
}


.icon {
    width: 20%;
/* Creates animation for rock paper scissors icons upon loading the home page */
    animation-name: icon-zoom;
animation-duration: 2s;
animation-fill-mode: forwards;
}

/* creates level of zoom for icon image */

@keyframes icon-zoom {
    from{
        transform: scale(0.5);
    }
    to {
        transform: scale(1.0);
    }
}

#rock-img, #paper-img, #scissors-img {
    width: 100%;
}